C:/Users/81806/EyeGazeHeatMap/EyeGazeHeatMap/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
C:/Users/81806/EyeGazeHeatMap/EyeGazeHeatMap/Library/PackageCache/com.unity.burst@1.8.4/.Runtime/burst-llvm-14.dll filter=lfs diff=lfs merge=lfs -text
C:/Users/81806/EyeGazeHeatMap/EyeGazeHeatMap/Library/PackageCache/com.unity.burst@1.8.4/.Runtime/libburst-llvm-10.dylib filter=lfs diff=lfs merge=lfs -text
C:/Users/81806/EyeGazeHeatMap/EyeGazeHeatMap/Library/PackageCache/com.unity.burst@1.8.4/.Runtime/libburst-llvm-14.dylib filter=lfs diff=lfs merge=lfs -text
C:/Users/81806/EyeGazeHeatMap/EyeGazeHeatMap/Library/PackageCache/com.unity.burst@1.8.4/.Runtime/libburst-llvm-14.so filter=lfs diff=lfs merge=lfs -text
C:/Users/81806/EyeGazeHeatMap/EyeGazeHeatMap/Library/PackageCache/com.unity.burst@1.8.4/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
C:/Users/81806/EyeGazeHeatMap/EyeGazeHeatMap/Packages/MixedReality/com.microsoft.mixedreality.toolkit.examples-2.8.3.tgz filter=lfs diff=lfs merge=lfs -text
EyeGazeHeatMap/Assets/Editor/Migration/com.ptc.vuforia.engine-10.18.4.tgz filter=lfs diff=lfs merge=lfs -text
Packages/com.ptc.vuforia.engine-10.18.4.tgz filter=lfs diff=lfs merge=lfs -text
EyeGazeHeatMap/Assets/Font/Noto_Sans_JP/static/NotoSansJP-Black[[:space:]]SDF.asset.meta filter=lfs diff=lfs merge=lfs -text
Assets/Font/Noto_Sans_JP/static/NotoSansJP-Black[[:space:]]SDF.asset.meta filter=lfs diff=lfs merge=lfs -text
Assets/Font/Noto_Sans_JP/static/NotoSansJP-Black[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
