<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdKQw3YAQ8bpD_qjIPi8pGoV9Fjy81Ekk</string>
	<key>GCM_SENDER_ID</key>
	<string>801248872465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KinjiKawaguchi.EyeGazeDisplay</string>
	<key>PROJECT_ID</key>
	<string>eyegazeheatmap</string>
	<key>STORAGE_BUCKET</key>
	<string>eyegazeheatmap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801248872465:ios:6d298949c7cde6e7adc9b0</string>
	<key>DATABASE_URL</key>
	<string>https://eyegazeheatmap-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>